.banner {
  background-image: url('/../images/background.jpg');
  background-size: cover;
  background-position: center;
  color: #FFFFFF;
  padding: 160px 0px;
}

.banner h1 {
  margin-bottom: 0;
  font-size: 48px;
}

.banner p {
  margin-bottom: 36px;
  margin-top: 0px;
  font-size: 24px;
}
