.card {
  width: 250px;
}

.card-white {
  background-color: #FFFFFF;
  width: 100%;
  padding: 8px;
}

.card-white-photo {
  position: relative;
  width: 100%;
  height: 160px;
  background-size: cover;
}

.card-icons {
  padding: 8px 0;
  text-align: right;
}

.card-icons li {
  color: #B0B0B0;
}

.card-profile {
  margin-top: 16px;
  display: flex;
  align-items: center;
}

.cards {
  display: flex;
  justify-content: space-between;
}
